Repository tigantic/Top_Tier_Trading, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @docs-team, @backend-team, @frontend-team, @devops-team

.github/CODEOWNERS:

# CODEOWNERS
#
# This file defines individuals or teams responsible for reviewing
# changes to specific parts of the repository.  GitHub uses these
# patterns to automatically request reviews when a pull request
# touches the listed paths.  Adjust the owners as appropriate for
# your organisation.  Use GitHub handles or team names (e.g.
# @org/team).

*       @dev-team            # Fallback owner for all files
docs/*  @docs-team           # Documentation custodians
workers/src/workers/** @backend-team   # Backend services
api/**  @frontend-team       # API and UI
charts/** @devops-team       # Helm charts and infrastructure

Relax lint rules and enable async tests
  .flake8
  api/.eslintrc.json
  api/package.json
  pytest.ini
  scripts/__init__.py
  scripts/sdk_integration_harness.py
  tests/conftest.py
  tests/integration/test_bot_health.py
  tests/integration/test_event_schema_parity.py
  tests/test_alert_and_metrics.py
  tests/test_alert_service_secrets.py
  tests/test_coinbase_sdk_wrapper.py
  tests/test_deep_q_network_strategy.py
  tests/test_ops_bot_concurrency.py
  tests/test_risk_volatility.py
  tests/test_sdk_integration.py
  tests/test_sma_strategy.py
  tests/test_vault_secrets_manager.py
  tests/unit/test_garch.py
  tests/unit/test_garch_stub.py
  tests/unit/test_publishers.py
  tests/unit/test_replay_buffer.py
  tests/unit/test_verify_parity_summary.py
  workers/__init__.py
  workers/src/__init__.py
  workers/src/workers/services/data_feed.py
  workers/src/workers/services/risk_service.py
  workers/src/workers/user_channel.py
  workers/src/workers/worker_main_refactored.py
Owners: @dev-team, @frontend-team, @backend-team

chore: modernize CI dependencies
  .github/workflows/ci.yml
Owners: @dev-team

Rename SDK harness to avoid pytest collection
  README.md
  docs/COINBASE_INTEGRATION.md
  scripts/README.md
  scripts/sdk_integration_harness.py
  tests/test_sdk_integration.py
Owners: @dev-team, @docs-team

Stabilize tests and service dependencies
  tests/conftest.py
  tests/helpers/fake_streams.py
  tests/integration/test_bot_health.py
  tests/integration/test_event_schema_parity.py
  tests/test_alert_and_metrics.py
  tests/test_alert_service_secrets.py
  tests/test_ops_bot_concurrency.py
  tests/test_price_cache.py
  tests/test_risk_service.py
  tests/test_risk_volatility.py
  tests/test_sma_strategy.py
  workers/src/workers/services/risk_service.py
Owners: @dev-team, @backend-team

Fix CI test paths and async plugin
  .github/workflows/ci.yml
  tests/__init__.py
Owners: @dev-team

chore(ci): upgrade upload-artifact action
  .github/workflows/ci.yml
Owners: @dev-team

Fix CI paths and drop unused strategy import
  .github/workflows/ci.yml
  tests/test_alert_and_metrics.py
Owners: @dev-team

fix(ci): expose workers package
  .github/workflows/ci.yml
  workers/__init__.py
  workers/src/__init__.py
Owners: @dev-team

fix: load secrets manager without workers.src
  scripts/ops_bot_async.py
  tests/integration/test_bot_health.py
Owners: @dev-team

chore: make workers package discoverable
  .github/workflows/ci.yml
  workers/__init__.py
  workers/src/__init__.py
Owners: @dev-team

chore(ci): expose workers src to tests
  .github/workflows/ci.yml
Owners: @dev-team

fix import paths and requirements
  tests/conftest.py
  tests/unit/test_garch_stub.py
  tests/unit/test_verify_parity_summary.py
  workers/__init__.py
  workers/requirements.txt
  workers/src/__init__.py
Owners: @dev-team

chore: bump upload artifact action
  .github/workflows/ci.yml
Owners: @dev-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @dev-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @dev-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @dev-team

pre-commit and ci.yml update
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Owners: @dev-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @dev-team

feat: Add poetry.lock for dependency management
  poetry.lock
Owners: @dev-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @dev-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @dev-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @dev-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @dev-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @dev-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @dev-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @dev-team

split
  .github/actions/setup-python/name 'Setup Python Environment'.txt
  .github/workflows/ci.yml
Owners: @dev-team

rename path
  .github/actions/setup-python/Setup Python Environment.txt
Owners: @dev-team

renamed setup-python
  .github/actions/setup-python/action.yml
Owners: @dev-team

update action.yml ci.yml
  .github/actions/setup-python/action.yml
  .github/workflows/ci.yml
Owners: @dev-team

update_final
  .github/actions/setup-python/action.yml
  .github/workflows/ci.yml
Owners: @dev-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @dev-team

another one
  .github/workflows/ci.yml
  pyproject.toml
Owners: @dev-team

full integration
  .github/workflows/ci.yml
  backtester/Dockerfile
  workers/Dockerfile
Owners: @dev-team

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: @dev-team

Update pyproject.toml
  pyproject.toml
Owners: @dev-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @dev-team

Remove poetry cache from setup-python steps to fix CI
  .github/workflows/ci.yml
Owners: @dev-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @dev-team

Fix pyproject: correct pre-commit dependency
  pyproject.toml
Owners: @dev-team
